header {
    height: 66px;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    border-bottom: dotted 1px #444;
    
  }
a {
  display: block;
  padding: 10px;
  color: #c8c8c8;
  display: inline-block;
}

h1 {
  letter-spacing: 0.1px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  color: #c8c8c8;
  background: #222;
  text-align: center;
}

body{
    background: #222;
    color: #c8c8c8;
    font-weight: 400;

}
.diplom{
    font-family: "Roboto";
    border: 2px dotted black;
    margin: 10px;
    padding: 5px;
}
 .work{
        font-family: "Roboto";
        border: 2px dotted black;
        margin: 10px;
        padding: 5px;
}
.about {
    font-family: "Roboto";
        border: 2px dotted black;
        margin: 10px;
        padding: 5px;
}

footer {
    border-top:solid;
    padding: 5px 50px 0px 5px;
    bottom: 0;
    width: 100%;
    height: 130px;
    text-align: center;
}


